body {
	margin-right: auto;
	margin-left: auto;
}

tr:first-Child td{
    background-color:yellow;
} 

td:first-Child {
    background-color: yellow;
} 

td { 
    border:1px solid black; 
    background-color: red;
}

.yellow {
	background-color: yellow;
	font-weight: bold;
}